{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    {{ post.title |truncatechars:25 }}
{% endblock title %}

{% block content %}
<div class="col-lg-12 text-center">
        <h3>{{ post.title |censor }}</h3>
        {% for c in post.category.all %}
            <a href="{% url 'category_show' slug=c.slug %}">{{ c.cat_name |capfirst }}</a>&nbsp&nbsp
        {% endfor %}
</div>
<div class="col-lg-12 text-left">
    <hr>
        {{ post.text |censor| linebreaks }}
</div>
<center>
    <i> •&nbsp
    {{ post.time|date:'d.m.Y H:i' }}
    &nbsp &nbsp
    {{ post.author.author_acc.first_name }}&nbsp{{ post.author.author_acc.last_name }}
    </i> &nbsp • &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <a class="btn btn-outline-danger" href="" role="button"> + </a>
    &nbsp &nbsp
    <a class="btn btn-outline-primary" href="" role="button"> - </a>
    &nbsp &nbsp &nbsp
    <b>{{ post.rating }}</b>
    <br>
    <a href="{% url 'post_edit' pk=post.id %}">Изменить</a>
    &nbsp&nbsp
    <a href="{% url 'post_delete' pk=post.id %}">Удалить</a>
    <hr>
</center>
{% if comments %}
    {% for comment in comments %}
        <div>
            &nbsp &nbsp
            {{ comment.text }}
            <br>
            <i> &nbsp &nbsp • &nbsp
            {{ comment.time |date:'d.m.Y H:i' }}
            &nbsp &nbsp
            {{ comment.user.username }}
            </i> &nbsp • &nbsp &nbsp &nbsp
            <a class="btn btn-outline-danger" href="" role="button"> + </a>
            &nbsp &nbsp
            <a class="btn btn-outline-primary" href="" role="button"> - </a>
            &nbsp &nbsp
            <b>{{ comment.rating }}</b>
        </div>
    {% endfor %}
{% endif %}
<div>
    <br>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="comment">Ваш комментарий &nbsp </label>
        <input type="text" name="comment"> &nbsp
        <input type="submit" value="Отправить">
    </form>
</div>
{% endblock content %}