{% extends 'flatpages/default.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
{% if request.user.username == post.author.author_acc.username or create %}
    <div class="col-lg-12 text-center">
    <h1>{{ title }}</h1>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Сохранить" />
    </form>
    </div>
{% else %}
    <div class="col-lg-12 text-center">
    <h1>Редакторование запрещено</h1>
    <hr><br>
    <h5>Вы не являетесь автором выбранной публикации, поэтому не можете изменять её</h5>
    <br><br><br>
    <a class="btn btn-outline-dark" href="../" role="button">Назад</a>
    </div>
{% endif %}
{% endblock content %}
